.navbar{
    @apply flex items-end justify-between;

    .large-menu{
        @apply lg:flex items-center space-x-10 flex-grow justify-center  lg:block;

        .drop-list{
            @apply absolute bg-[var(--background-color)] shadow-xl rounded-lg p-4 w-40 mt-0;
        }
    
        .drop-list-item{
            @apply block py-2 px-4;
        }
    }

    

   .icons{
        @apply flex items-center pl-6 space-x-4;

        .bigger-icon{
            @apply size-[var(--bigger-icon-width)] text-[var(--gray-text-color)] hover:text-[var(--primary-color)] self-end;
        }

        .theme-switcher{
            @apply pl-0 pr-0 sm:pr-4 xl:pl-40;
        }
   }


    .mobile-menu{
        @apply block lg:hidden;

        .menu-item{
            @apply flex flex-col space-y-4;

            .menu-list{
                @apply pl-4 space-y-2;
            }

            .menu-item{
                @apply text-lg font-semibold text-[var(--gray-text-color)] hover:text-[var(--primary-color)];
            }
        }
    }

}

.mobile-menu-bg{
    @apply bg-[var(--second-background-color)];
}

.active{
    @apply text-[var(--primary-color)];
}


