.order-summary {
    @apply bg-[var(--background-color)] h-auto;
    @apply relative w-full;
    @apply md:sticky md:top-20 md:w-1/2;
    

    @media (max-height: 829px) {
        min-height: 100vh; 
        height: auto;
    }

    @media (min-height: 830px) {
        height: fit-content;
        max-height: 100vh;
    }
   
    .order-title {
      @apply pb-4 lg:pb-8 text-2xl lg:text-3xl;

      .item-count{
        @apply text-lg font-semibold text-[var(--gray-placeholder-color)];
      }
    }

    .items {
      @apply overflow-y-auto;
      @apply max-h-[700px];
    }
  }