.order-summary {
    @apply bg-[var(--background-color)] overflow-y-auto;
    position: sticky;
    top: 5rem;
    max-height: calc(100vh - 1rem);
    
    h2 {
        @apply pb-8;
        span {
            @apply text-lg font-semibold text-[var(--gray-placeholder-color)];
        }
    }
 }